.wrap {
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
}
.wrap img {
  width: 100%;
  height: 100%;
}
.wrap header {
  height: 1.333333rem /* 100/75 */;
  background: #27c1b4;
  text-align: center;
  font-size: 0.333333rem /* 25/75 */;
  color: #fff;
}
.wrap header p {
  line-height: 1.253333rem /* 94/75 */;
  letter-spacing: 0.133333rem /* 10/75 */;
  text-indent: 0.133333rem /* 10/75 */;
}
.wrap .main {
  height: 2.453333rem /* 184/75 */;
  background: #fff;
  display: flex;
  font-size: 0.186667rem /* 14/75 */;
}
.wrap .main dl {
  width: calc(25vw);
  height: 1.733333rem /* 130/75 */;
  margin: 0.266667rem /* 20/75 */;
  text-align: center;
}
.wrap .main dl dt img {
  width: 0.96rem /* 72/75 */;
  height: 1.013333rem /* 76/75 */;
}
.wrap .main dl dd {
  line-height: 0.666667rem /* 50/75 */;
}
.wrap .mai {
  margin-bottom: 0.266667rem /* 20/75 */;
}
.wrap .border {
  border-bottom: 1px solid #ccc;
}
.wrap .res {
  background: #fff;
  height: 14.933333rem /* 1120/75 */;
  display: flex;
}
* {
  margin: 0;
  padding: 0;
}
