.wrap {
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
}
.wrap img {
  width: 100%;
  height: 100%;
}
.wrap header {
  height: 1.333333rem /* 100/75 */;
  background: #27c1b4;
  text-align: center;
  font-size: 0.333333rem /* 25/75 */;
  color: #fff;
}
.wrap header p {
  line-height: 1.253333rem /* 94/75 */;
  letter-spacing: 0.133333rem /* 10/75 */;
  text-indent: 0.133333rem /* 10/75 */;
}
.wrap .main {
  height: 2.453333rem /* 184/75 */;
  background: #fff;
  display: flex;
  font-size: 0.186667rem /* 14/75 */;
}
.wrap .main dl {
  width: calc(25vw);
  height: 1.733333rem /* 130/75 */;
  margin: 0.266667rem /* 20/75 */;
  text-align: center;
}
.wrap .main dl dt img {
  width: 0.96rem /* 72/75 */;
  height: 1.013333rem /* 76/75 */;
}
.wrap .main dl dd {
  line-height: 0.666667rem /* 50/75 */;
}
.wrap .mai {
  margin-bottom: 0.266667rem /* 20/75 */;
}
.wrap .border {
  border-bottom: 1px solid #ccc;
}
.wrap .res {
  flex: 1;
  background: #fff;
}
.wrap .res ul {
  display: flex;
  height: 0.973333rem /* 73/75 */;
  line-height: 0.973333rem /* 73/75 */;
  text-align: center;
}
.wrap .res ul li {
  flex: 1;
  display: flex;
}
.wrap .res ul li a {
  text-decoration: none;
  display: block;
  width: 1.813333rem /* 136/75 */;
  height: 0.973333rem /* 73/75 */;
  margin: 0 auto;
}
.wrap .res ul li a:hover {
  border-bottom: 1px solid #79dfd9;
  color: #79dfd9;
}
.wrap .xian {
  background: #fff;
  height: 2.626667rem /* 197/75 */;
}
.wrap .xian dl {
  height: 2.626667rem /* 197/75 */;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 0.133333rem /* 10/75 */;
}
.wrap .xian dl dt {
  width: 2.546667rem /* 191/75 */;
  height: 1.92rem /* 144/75 */;
}
.wrap .xian dl dd {
  flex: 2;
}
.wrap .xian dl dd h3 {
  line-height: 0.4rem /* 30/75 */;
  font-size: 0.24rem /* 18/75 */;
}
.wrap .xian dl dd p {
  line-height: 0.84rem /* 63/75 */;
  font-size: 0.16rem /* 12/75 */;
  text-indent: 0.32rem /* 24/75 */;
}
.wrap .xian dl dd a {
  display: block;
  float: left;
  height: 0.533333rem /* 40/75 */;
  line-height: 0.533333rem /* 40/75 */;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
